<div class="col-md-11 mx-auto mt-5">
  <h5 class="pb-4">
    <span style="background-color:#f5f5f5">
      　会員情報編集　
    </span>
  </h5>

  <%= form_with model: @customer, url: customer_update_path, method: :patch, local: true do |f| %>
    <div class="row">
      <%= f.label "名前", class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :last_name %>
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="row">
      <%= f.label "フリガナ",class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_field :last_name_kana %>
        <%= f.text_field :first_name_kana %>
      </div>
    </div>

  <div class="row">
    <%= f.label "郵便番号(ハイフンなし)", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :postal_code %>
    </div>
  </div>

  <div class="row">
    <%= f.label "住所", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address %>
    </div>
  </div>

  <div class="row">
    <%= f.label "電話番号", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :telephone_number %>
    </div>
  </div>

   <div class="row">
    <%= f.label "メールアドレス", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="row">
      <%= f.submit "編集内容を保存", class:"btn btn-sm btn-success" %>
    <% end %>

    <%= link_to  "退会する", customers_quit_path, class:'btn btn-sm btn-danger' %>
  </div>
</div>