<div class="col-md-11 mx-auto mt-5">
  <h5 class="pb-4">
    <span style="background-color:#f5f5f5">
      配送先編集
    </span>
  </h5>
  
  <%= form_with model: @address, method: :patcht do |f| %>
    <%= f.label :postal_code, "郵便番号(ハイフンなし)"%>
    <%= f.text_field :postal_code %>
    
    <%= f.label :address %>
    <%= f.text_field :address %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit "変更内容を保存" %>
  <% end %>
  