<div class="col-md-11 mx-auto mt-5">
  <h5 class="pb-4">
    <div class="row">
      <div class="col-3">
  	    <span style="background-color:#f5f5f5">
  	      ショッピングカート　
  	    </span>
  	  </div>
  	  <div class="col-3 offset-6">
  	    "カートを空にする" 　
  	  </div>
  	</div>
  </h5>
  
  <div class="row">  
    <table class="table table-hover px-auto">
      <thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
         <tr>
          <td class="w-60">
            <%= image_tag @item.get_image size: "20x15" %> <%= cart_item.item.name %>
          </td>
          <td class="w-20">
            <%= cart_item.item.price %>
          </td>
          <td class="w-20">
            <%= form_with model: @cart_item, method: :patch do |f| %>
              <%= f.select :amount, options_for_select((1..10).to_a) %>
              <%= f.submit "変更", class: "btn btn-success btn-sm" %>
            <% end %>
          </td>
          <td class="w-20">
            <%= cart_item.item.price * cart_item.amount %>
          </td>
          <td class="w-20">
            <%= link_to "削除する", url：root_path class:"btn btn-danger btn-sm" %> <!--仮のpathです-->
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
      
      <div class="row">
        <div class="col">
          <%= link_to "買い物を続ける", url: items_path, class:"btn btn-primary" %>
        </div>
        <div class="col pull-right">
          <table class="table table-hover px-auto">
            <thead class="thead-light">
              <tr>
                <td>
                  合計金額
                </td>
                <td>
                  ¥<%= total_price(@cart_items).to_s(:delimited) %>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      
      <div class="col-md-4 col-md--offset- text-center">
        <% link_to "情報入力に進む", url: new_order_path , method: post, class="btn btn-success" %>
        
      </div>
    </div>  
  </div>