<div class="col-md-11 mx-auto mt-5">
  <h5 class="pb-4">
  	<span style="background-color:#f5f5f5">　新規会員登録　</span>
  </h5>

<%= form_with model: @customer, url: new_customer_registration_path, method: :post, local:true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="row">
    <%= f.label "名前", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
        <%= f.label "(姓)　" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        <%= f.label "(名)　" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
    </div>
  </div>

  <div class="row">
    <%= f.label "フリガナ",class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.label "(セイ)" %>
      <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
      <%= f.label "(メイ)" %>
      <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
    </div>
  </div>

  <div class="row">
    <%= f.label "メールアドレス", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>


  <div class="row">
    <%= f.label "郵便番号(ハイフンなし)", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
    </div>
  </div>

  <div class="row">
    <%= f.label "住所", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
    </div>
  </div>

  <div class="row">
    <%= f.label "パスワード(#{@minimum_password_length}文字以上)", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <%= f.label "パスワード(確認用)", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="action py-3">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
<% end %>

<span style="background-color:#f5f5f5">　既に登録済みの方　</span>


<p><%= link_to "こちら", url: new_customer_session_path %> からログインしてください。</p>
