<div class="col-md-11 mx-auto mt-5">
  <h5 class="pb-4">
    <div class="row">
      <div class="col-4">
  	    <span style="background-color:#f5f5f5">
  	  　 　注文履歴一覧　　
  	    </span>
  	  </div>
  	</div>
  </h5>

  <div class="row">
    <table class="table table-bordered border-dark table-hover px-auto">
      <thead class="thead-light">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
    <tbody>
        <% @cart_items.each do |cart_item| %>
         <tr>
          <td class="w-60"><!-- 注文日-->
            <%= image_tag(cart_item.item.image, size: "80x50") %>
            <%= cart_item.item.name %>
          </td>
          <td class="w-20"><!-- 配送先-->
            <%= tax_in_price(cart_item.item.price).to_s(:delimited) %>
          </td>
          <td class="w-20"><!-- 注文商品-->
              <%= form_with model: @cart_item, method: :patch do |f| %>
                <%= f.select :amount, options_for_select((1..10).to_a) %>
                <%= f.submit "変更", class:"btn btn-success btn-sm" %>
              <% end %>
          </td>
          <td class="w-20"><!-- 支払金額-->
            <%= sub_total(cart_item) %>
          </td>
          <td class="w-20"><!--ステータス -->
            <%=  %>
          </td>
                    <td class="w-20"><!--注文詳細 -->
            <%= link_to "表示する", cart_items_path(cart_item), method: :delete, class:"btn btn-danger btn-sm" %>
          <% end %>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
      <div class="row">
        <div class="col-4">
          <%= link_to "買い物を続ける", items_path, class:"btn btn-primary" %>
        </div>
        <div class="col-4 offset-md-4">
          <table class="table table-bordered table-hover px-auto">
            <thead class="thead-light">
              <tr>
                <td>
                  <strong>
                    合計金額
                  </strong>
                </td>
                <td>
                  <%= total_price(@cart_items).to_s(:delimited) %>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    <div class="row">
      <div class="mx-auto">
        <%= link_to "情報入力に進む", new_order_path, method: :post, class:"btn btn-success" %>
      </div>
    </div>
    
  </div>