<div class="col-md-11 mx-auto mt-5">
  <h5 class="pb-4">
  	<span style="background-color:#f5f5f5">　ログイン　</span>
  </h5>
  
  <p class="pb-2">
  	<span style="background-color:#f5f5f5">　会員の方はこちらからログイン　</span>
  </p>

<%= form_with model: @customer, url: new_customer_session_path, local: true do |f| %>
  <div class="field">
    <div class="form-group">
    <%= f.label "メールアドレス", class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
    </div>
    </div>
  </div>

  <div class="field">
    <div class="form-group">
    <%= f.label "パスワード", class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>  
  </div>

  

  <div class="actions py-3">
    <%= f.submit "ログイン", class:"btn btn-primary" %>
  </div>
<% end %>

<p class="pb-4">
  	<span style="background-color:#f5f5f5">　会員登録がお済みでない方　</span>
  </p>
<%= link_to new_customer_registration_path do %>こちら<% end %>から新規登録を行ってください。
