<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="pt-4">商品一覧<span>(全<%= @items.total_count %>件)</span></h1>

        <% @items.each do |item| %>

        <div class="col d-flex aline-items">
          <%= image_tag item.get_image %>
          <p><strong><%= item.name %></strong></p>
          <p><strong>￥<%= item.price.to_s( :delimited) %></strong></p>

<% end %>

<%= paginate @items %>

