<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'genre_sidebar', genres: @genres %>
    </div>
    <div class="col-9">
      <h2 class="py-4">商品一覧<span><small>(全<%= @items.total_count %>件)</small></span></h2>

      <div class="container d-flex justify-content-start">
        <% @items.each do |item| %>
        <div class="w-25 px-3">
          <div class="">
            <%= image_tag item.get_image, size: "150x150" %>
            <p><small><strong><%= item.name %></strong></small></p>
            <p><small><strong>￥<%= item.price.to_s( :delimited) %></small></strong></p>
          </div>
        </div>
      

        <% end %>
      </div>
    </div>
  <div class="text-aline-center">
    <%= paginate @items %>
  </div>
</div>
</div>
