<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/a69f599634.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <!--ながのCAKEロゴ-->
          <a class="navbar-brand px-3 pe-3" alt="ながのCAKEロゴ" href="/"><%= image_tag("no_image.jpg") %></a>
          <!-- ヘッダーメニューの折り畳み、ブレーク　-->
          <button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#navbarNavDropdown"
                  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                
              <!--  会員のログイン時に表示されるメニュー　-->
              
                <% if customer_signed_in? %>
                <div class="btn-group ms-2">
                <li class="header-customer-name">
                  ようこそ、<%= customer.first_name %>さん！
                </li>
                <li class="nav-item ">
                  <%= link_to customer_path(current_customer_id), class: 'nav-link' do %>マイページ<% end %><!--会員マイページ-->
                </li>
                <li class="nav-item">
                  <%= link_to items_path, class: 'nav-link' do %>商品一覧<% end %><!--会員用の商品一覧ページ-->
                </li>
                <li class="nav-item">
                  <%= link_to cart_items_path, class: 'nav-link' do %>カート<% end %><!--会員のカート-->
                </li>
                <li class="nav-item">
                  <%= link_to destroy_customer_session_path, class: 'nav-link' do %>ログアウト<% end %>
                </li>
                </div>
                  <!--　管理者のログイン時に表示されるメニュー　-->
                <% elsif admin_signed_in? %>

                <li class="nav-item">
                  <%= link_to admin_items_path, class: 'nav-link' do %> 商品一覧<% end %><!--商品一覧-->
                </li>
                <li class="nav-item">
                  <%= link_to admin_customers_path, class: 'nav-link' do %>会員一覧<% end%><!--会員の一覧-->
                </li>
                <li class="nav-item">
                  <%= link_to admin_root_path, class: 'nav-link' do %>注文履歴一覧<% end %><!--注文履歴の一覧-->
                </li>
                <li class="nav-item">
                  <%= link_to admin_genres_path, class: 'nav-link' do %>ジャンル一覧<% end %><!-- ジャンルの一覧　-->
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link'  do %>ログアウト<% end %>
                </li>

              <!--　非ログイン時（会員）表示メニュー-->
              <% elsif current_page?(root_path) %>
                <li class="nav-item btn btn-outline-secondary">
                  <%= link_to about_path, class: 'nav-link' do %>About<% end %><!--Aboutページ-->
                </li>
                <li class="nav-item btn btn-outline-secondary ms-2">
                  <%= link_to items_path, class: 'nav-link' do %>商品一覧<% end %><!--会員用の商品一覧-->
                </li>
                <li class="nav-item btn btn-outline-secondary ms-2">
                  <%= link_to new_customer_registration_path, class: 'nav-link' do %>新規登録<% end %><!--会員用の新規登録ページへ--->
                </li>
                <li class="nav-item btn btn-outline-secondary ms-2">
                  <%= link_to new_customer_session_path, class: 'nav-link' do %>ログイン<% end %><!--会員のログインページ-->
                </li>
              <!--  非ログイン時（管理者）表示メニュー -->
              <% else %>
                <div class="btn-group d-flex bd-highlight">
                  <li class="nav-item btn btn-outline-secondary">
                    <%= link_to about_path, class: 'nav-link' do %>About<% end %><!--Aboutページ-->
                  </li>
                  <li class="nav-item btn btn-outline-secondary">
                    <%= link_to items_path, class: 'nav-link' do %>商品一覧<% end %><!--会員用の商品一覧-->
                  </li>
                  <li class="nav-item btn btn-outline-secondary">
                    <%= link_to new_customer_registration_path, class: 'nav-link' do %>新規登録<% end %><!--会員用の新規登録ページへ--->
                  </li>
                
                  <li class="nav-item btn btn-outline-secondary">
                    <%= link_to new_customer_session_path, class: 'nav-link' do %>ログイン<% end %><!--会員のログインページ-->
                  </li>
                </div>
            <% end %>
            </div>
          </ul>
          </div>
            <!--検索ボックス-->
            <div class="container">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                  <div><button class="btn position-absolute" type="button" id="button-addon2"><i class="fas fa-search"></i></button></button>
                  </div>
              </div>
            </div>

      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

  </body>
</html>
