<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/a69f599634.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container-fluid">
    <body>
      <header class="shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="row">
            <div class="col-md-2">
             <!--ながのCAKEロゴ-->
              <a class="navbar-brand px-5 pe-3" alt="ながのCAKEロゴ" href="/"><%= image_tag("no_image.jpg") %></a>
            </div>
          <!-- ヘッダーメニューの折り畳み、ブレーク　-->
        <!--<button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#navbarNavDropdown"-->
        <!--  aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--  <span class="navbar-toggler-icon"></span>-->
        <!--  </button>-->

            <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
                  <!--  会員のログイン時に表示されるメニュー　-->
                <% if customer_signed_in? %>
              <div class="col-3">
                <p class="header-customer-name">
                  ようこそ、<%= current_customer.last_name %>さん！
                </p>
              </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12">
                        <div class="btn-group px-2.5">
                          <ul class="navbar list-unstyled">
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to customers_path(current_customer.id), class: 'nav-link' do %>マイページ<% end %><!--会員マイページ-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to items_path, class: 'nav-link' do %>商品一覧<% end %><!--会員用の商品一覧ページ-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-3">
                              <%= link_to cart_items_path, class: 'nav-link' do %>カート<% end %><!--会員のカート-->
                            </li>
                            <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                              <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link' do %>ログアウト<% end %>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <%= render 'layouts/search' %>
                  </div>
                  <!--　管理者のログイン時に表示されるメニュー　-->
                <% elsif admin_signed_in? %>
              <div class="col-1">
              </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group px-2.5">
                        <ul class="navbar list-unstyled btn-group">
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to admin_items_path, class: 'nav-link' do %> 商品一覧<% end %><!--商品一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to admin_customers_path, class: 'nav-link' do %>会員一覧<% end%><!--会員の一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                            <%= link_to admin_root_path, class: 'nav-link' do %>注文履歴一覧<% end %><!--注文履歴の一覧-->
                          </li>
                        <li class="nav-item btn btn-outline-secondary rounded btn-sm mr-2">
                          <%= link_to admin_genres_path, class: 'nav-link' do %>ジャンル一覧<% end %><!-- ジャンルの一覧　-->
                        </li>
                        <li class="nav-item btn btn-outline-secondary rounded btn-sm">
                          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link'  do %>ログアウト<% end %>
                        </li>
                      </ul>
                    </div>
                    </div>
                  </div>

                  <%= render 'layouts/search' %>
                  </div>
                </div>

              <% else %>
                <!--  非ログイン時表示メニュー -->
                <div class="col-md-1">
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-12">
                      <div class="btn-group px-2.5">
                        <ul class="navbar list-unstyled">
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to about_path, class: 'nav-link' do %>  About  <% end %><!--Aboutページ-->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to items_path, class: 'nav-link' do %>商品一覧<% end %><!--会員用の商品一覧-->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm mr-4">
                            <%= link_to new_customer_registration_path, class: 'nav-link' do %> 新規登録 <% end %><!--会員用の新規登録ページへ--->
                          </li>
                          <li class="nav-item btn btn-outline-dark rounded btn-sm">
                            <%= link_to new_customer_session_path, class: 'nav-link' do %>ログイン<% end %><!--会員のログインページ-->
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <%= render 'layouts/search' %>
                </div>
              <% end %>



            </div>
          </div>
        </div>
      </nav>
    </header>
  </div>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <main class="mb-auto">

      <%= yield %>
    </main>

    </body>
  </div>
</html>
